.card {
  margin-top: 20px;
  margin-bottom: 30px;
  outline: 3px solid #5c5470;
  outline-offset: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img,
.card-img-top {
  height: 250px;
  width: 200px;
}
